*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root{
    --primary: #234fc9;
    --secondary: white;
}

.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
  
.project-column{
    width: 40%;
    height: 90vh;
}


.project-column{
    overflow-y: scroll;
}

.project-column::-webkit-scrollbar{
    display: none;
}

.project-column h2{
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}
  
.project-list {
    list-style: none;
    padding: 0;
    
}
  
.project-accordion {
    margin: 1em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

}
  
.project-accordion label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.2em;
    font-weight: bold;
}
  
.content {
    max-height: 0;
    background-color: var(--secondary);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
  
.image-container{
    width: 50%;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 100%;
    height: 400px;
}
  
.project-label {
    display: none;
}
  
.project-accordion input:checked + label {
    background-color: var(--primary);
    color: white;
}
  
.project-accordion input:checked + label + .content {
    max-height: 500px; 
}
  
.count {
    font-size: 24px;
    font-weight: bold;
}

.wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    margin-bottom: 2em;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: var(--primary);
}


span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

.counter{
    display: flex;
    justify-content: space-around;
}

.factor-counter{
    margin: 4em 0;
}

footer{
    font-size: 1.5em;
    text-align: center;
}

@media (max-width:426px){
    .landing-page{
        flex-direction: column;
    }
    .project-column{
        margin: auto;
        width: 90%;
    }
    .image-container{
        width: 100%;
        margin: auto;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .wrapper {
        gap: 15px;
    }
    .container {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}


@media (max-width:769px) {
    .project-column{
        width: 80%;
    }
    .wrapper {
        width: 90vw;
        gap: 30px;
    }
    .container {
        width: 40%;
        margin: 1em auto;
        height: 30vmin;
        font-size: 14px;
    }
    .counter{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}